<div class="orderForm">
  <mat-form-field class="orderFormField">
    <input matInput placeholder="OrderNo" readonly="true" [value]="order.orderNo">
  </mat-form-field>

  <mat-form-field class="orderFormField">
    <input matInput placeholder="Customer" readonly="true" [value]="order.customer.name">
  </mat-form-field>

  <mat-form-field class="orderFormField">
    <input matInput placeholder="Extinguisher" readonly="true" [value]="order.extinguisher.code">
  </mat-form-field>

  <mat-selection-list>
    <mat-list-item *ngFor="let serv of madeList; let i=index"> {{serv.name}} 
      <mat-checkbox disabled="true" [checked]="serv.todo"></mat-checkbox>
      <mat-checkbox [checked]="serv.doit" (change)="addDoneService(i)"></mat-checkbox>
    </mat-list-item>
  </mat-selection-list>

  <div class="buttonsDiv">
    <button mat-raised-button class="buttonActions" color="primary" (click)="save()">Ok</button>
    <button mat-raised-button class="buttonActions" color="warn" (click)="cancel()">Cancel</button>
  </div>
</div>