<div class="div-filter">
  <div class="div-filter-list">
    <!-- <input matInput placeholder="Identificador" [(ngModel)]="codeFilter" class="formField-filter-list"> -->
    <app-custom-select 
      [service]="customerService"
      [key]="'id'" 
      [label]="'name'" 
      [placeholder]="'Seleccione cliente'" 
      [inputPlaceholder]="'Escriba para filtrar'"
      [clean]="cleanFilters" 
      (selectChange)="selectCustomer($event)" 
      class="formField-filter-list">
    </app-custom-select>
    <app-custom-select 
      [service]="extinguisherService"
      [key]="'id'" 
      [label]="'code'" 
      [placeholder]="'Seleccione matafuego'" 
      [inputPlaceholder]="'Escriba para filtrar'"
      [clean]="cleanFilters" 
      (selectChange)="selectExtinguisher($event)"
      class="formField-filter-list">
    </app-custom-select>
    <mat-form-field class="formField-filter-list">
      <mat-label>Estado</mat-label>
      <mat-select [(value)]="stateFilter">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let state of states" [value]="state">
          {{state}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <input matInput placeholder="Matafuego" [(ngModel)]="extinguisherFilter" class="formField-filter-list"> -->
  </div>
  <div>
    <button mat-raised-button (click)="cleanFilter()" matTooltip="Limpiar">
      <!-- <mat-icon aria-hidden="false" aria-label="Limpiar">backspace</mat-icon> -->
      Limpiar
    </button>
    <button mat-raised-button class="filterButton" (click)="filter()" matTooltip="Filtrar">Filtrar</button>
  </div>
  
</div>

<div class="button-add-row" *ngIf="isAdmin">
  <button mat-fab color="warn" (click)="create()"><mat-icon>add</mat-icon></button>
</div>

<table mat-table [dataSource]="service.listData" class="mat-elevation-z8">

  <!-- OrderNo Column -->
  <!-- <ng-container matColumnDef="orderNo">
    <th mat-header-cell *matHeaderCellDef> Nro </th>
    <td mat-cell *matCellDef="let element"> {{element.orderNo}} </td>
  </ng-container> -->

  <!-- Customer Column -->
  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef> Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.customer.name}} </td>
  </ng-container>

  <!-- Extinguisher Column -->
  <ng-container matColumnDef="extinguisher">
    <th mat-header-cell *matHeaderCellDef> Matafuego </th>
    <td mat-cell *matCellDef="let element"> {{element.extinguisher.code}} </td>
  </ng-container>

  <!-- CloseBy Column -->
  <ng-container matColumnDef="closeBy">
    <th mat-header-cell *matHeaderCellDef> Cerrada por </th>
    <td mat-cell *matCellDef="let element"> {{element.closeBy ? element.closeBy.name : ""}} </td>
  </ng-container>

  <!-- CloseDate Column -->
  <ng-container matColumnDef="closeDate">
    <th mat-header-cell *matHeaderCellDef> Cerrada el </th>
    <td mat-cell *matCellDef="let element"> {{element.closeDate | date:'yyyy/MM/dd'}} </td>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>

  <!-- Edit -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Opciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="edit" matTooltip="Editar" (click)="edit(element)" *ngIf="isAdmin && (element.state == 'CREADA' || element.state == 'COMPLETANDOSE')">
        <mat-icon aria-hidden="false" aria-label="edit">edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="view" matTooltip="Ver" (click)="edit(element)" *ngIf="element.state == 'CANCELADA'">
        <mat-icon aria-hidden="false" aria-label="visibility">visibility</mat-icon>
      </button>
      <button mat-icon-button aria-label="view" matTooltip="Ver" (click)="update(element)" *ngIf="element.state == 'FACTURADA' || element.state == 'CERRADA'">
        <mat-icon aria-hidden="false" aria-label="visibility">visibility</mat-icon>
      </button>
      <!-- <a (click)="delete(element)" *ngIf="isAdmin">
        <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
      </a> -->
      <button mat-icon-button aria-label="update" matTooltip="Completar" (click)="update(element)" *ngIf="element.state == 'CREADA' || element.state == 'COMPLETANDOSE'">
        <mat-icon aria-hidden="false" aria-label="update">list_alt</mat-icon>
      </button>
      <button mat-icon-button aria-label="close" matTooltip="Cerrar" (click)="close(element)" *ngIf="element.state == 'COMPLETANDOSE'">
        <mat-icon aria-hidden="false" aria-label="close">archive</mat-icon>
      </button>
      <button mat-icon-button aria-label="cancel" matTooltip="Cancelar" (click)="cancel(element)" *ngIf="element.state == 'CREADA' || element.state == 'COMPLETANDOSE'">
        <mat-icon aria-hidden="false" aria-label="close">cancel</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="service.total"
              [pageSize]="service.pageSize"
              [pageSizeOptions]="pagination"
              (page)="service.page = $event.pageIndex">
</mat-paginator>