<div class="general-form">

  <mat-form-field class="customerFormField">
    <input matInput placeholder="Identificador" [formControl]="code">
    <mat-error *ngIf="code.hasError('required')">
      El código es <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="customerFormField">
    <input matInput placeholder="Nombre" [formControl]="name">
    <mat-error *ngIf="name.hasError('required')">
      El nombre es <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="customerFormField">
    <input matInput placeholder="Dirección" [formControl]="address">
    <mat-error *ngIf="address.hasError('required')">
      La dirección es <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="customerFormField">
    <input matInput placeholder="Teléfono" [formControl]="phone">
    <mat-error *ngIf="phone.hasError('required')">
      El teléfono es <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="customerFormField">
    <input matInput placeholder="Email" [formControl]="email">
    <mat-error *ngIf="email.hasError('required')">
      El email es <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="customerFormField">
    <input matInput placeholder="Web" [formControl]="web">
  </mat-form-field>

  <mat-form-field class="customerFormField">
    <mat-select placeholder="Seleccione el tipo" [(value)]="type">
      <mat-option *ngFor="let val of types()" value="{{val}}">{{val}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="div-button-actions">
    <button mat-raised-button class="button-actions" color="primary" (click)="save()">Ok</button>
    <button mat-raised-button class="button-actions" color="warn" (click)="cancel()">Cancel</button>
  </div>
</div>