<div class="general-form">

    <mat-form-field class="extinguishersFormField">
      <input matInput placeholder="Identificador" [formControl]="code">
      <mat-error *ngIf="code.hasError('required')">
        El identificador es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
  
    <!-- <div class="customSelect">
      <app-custom-select 
        [service]="customerService"
        [key]="'id'" 
        [label]="'name'" 
        (selectChange)="selectCustomer($event)">
      </app-custom-select>
    </div> -->

    <mat-form-field class="extinguishersFormField">
      <mat-select placeholder="Cliente" [(value)]="customerId">
        <mat-option *ngFor="let c of customers" value="{{c.id}}">{{c.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="extinguishersFormField">
      <mat-select placeholder="Tipo" [(value)]="typeId">
        <mat-option *ngFor="let type of extinguisherTypes" value="{{type.id}}" disabled="{{type.deleted}}">{{type.category}} - {{type.volume}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="extinguishersFormField">
      <mat-select placeholder="Categoría" [(value)]="category">
        <mat-option *ngFor="let categ of categories()" value="{{categ}}">{{categ}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="extinguishersFormField" *ngIf="category == 'VEHICULAR'">
      <input matInput placeholder="Patente" [(ngModel)]="carID">
    </mat-form-field>

    <mat-form-field class="extinguishersFormField" *ngIf="category == 'DOMICILIARIO'">
      <input matInput placeholder="Centro de costo" [formControl]="costCenter" type="string">
      <mat-error *ngIf="costCenter.hasError('required')">
        El centro de costo es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="extinguishersFormField" *ngIf="category == 'DOMICILIARIO'">
      <input matInput placeholder="Ubicación" [formControl]="location" type="string">
      <mat-error *ngIf="location.hasError('required')">
        La ubicación es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="extinguishersFormField" *ngIf="category == 'DOMICILIARIO'">
      <input matInput placeholder="Dirección" [formControl]="address" type="string">
      <mat-error *ngIf="address.hasError('required')">
        La dirección de <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="extinguishersFormField">
      <input matInput placeholder="Nro de fabricación" [formControl]="factoryNo" type="number">
      <mat-error *ngIf="factoryNo.hasError('required')">
        El nro de fabricación es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="extinguishersFormField">
      <input matInput placeholder="Nro de BV" [formControl]="bvNo" type="number">
      <mat-error *ngIf="bvNo.hasError('required')">
        El nro de BV es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="extinguishersFormField">
      <input matInput placeholder="Fabricación" [formControl]="manufacturing" type="date">
      <mat-error *ngIf="manufacturing.hasError('required')">
        La fecha de fabricación es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="extinguishersFormField">
      <input matInput placeholder="Ultima carga" [formControl]="lastLoad" type="date">
      <mat-error *ngIf="lastLoad.hasError('required')">
        La fecha de última carga es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="extinguishersFormField">
      <input matInput placeholder="Ultima PH" [formControl]="lastHydraulicTest" type="date">
      <mat-error *ngIf="lastHydraulicTest.hasError('required')">
        La fecha de última PH es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
    
    <div class="div-button-actions">
      <button mat-raised-button class="button-actions" color="primary" (click)="save()">Guardar</button>
      <button mat-raised-button class="button-actions" color="warn" (click)="cancel()">Cancelar</button>
    </div>
  </div>