<div class="general-form">
  <mat-form-field class="orderFormField" *ngIf="id">
    <input matInput placeholder="Nro de orden" [value]="id" readonly>
  </mat-form-field>

  <!-- <mat-form-field class="orderFormField">
    <mat-select placeholder="Cliente" [(value)]="customerId" 
      disabled="{{state == 'CANCELADA' || state == 'FACTURADA'  || state == 'CERRADA'}}"
      (selectionChange)=loadExtinguishers()>
      <mat-option *ngFor="let c of customers" value="{{c.id}}" disabled="{{c.deleted}}">{{c.name}}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <app-custom-select 
    [service]="customerService"
    [key]="'id'" 
    [label]="'name'" 
    [placeholder]="'Cliente'" 
    [inputPlaceholder]="'Escriba para filtrar'"
    [force]="_force" 
    [disabled]="_disabled" 
    [selected]="customerId" 
    (selectChange)="selectCustomer($event)"
    class="orderFormField">
  </app-custom-select>

  <!-- <mat-form-field class="orderFormField" *ngIf="customerId">
    <mat-select placeholder="Matafuego" [(value)]="extinguisherId" 
      disabled="{{state == 'CANCELADA' || state == 'FACTURADA'  || state == 'CERRADA'}}">
      <mat-option *ngFor="let e of extinguishers" value="{{e.id}}" disabled="{{e.deleted}}">{{e.code}}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <app-custom-select 
    [service]="extinguisherService"
    [key]="'id'" 
    [label]="'code'" 
    [placeholder]="'Matafuego'" 
    [inputPlaceholder]="'Escriba para filtrar'"
    [force]="_force" 
    [disabled]="_disabled" 
    [selected]="extinguisherId" 
    [filters]="extinguisherFilters"
    (selectChange)="selectExtinguisher($event)"
    class="orderFormField">
  </app-custom-select>

  <mat-selection-list >
    <mat-list-item *ngFor="let serv of servicesList; let i=index">  
      <p>{{serv.name}}</p>
      <mat-checkbox [checked]="serv.value" (change)="checkService(i)" disabled="{{state == 'CANCELADA' || state == 'FACTURADA'  || state == 'CERRADA'}}"></mat-checkbox>
    </mat-list-item>
  </mat-selection-list>

  <!-- <mat-form-field class="orderFormField">
    <mat-select placeholder="Select user" [(value)]="userId">
      <mat-option *ngFor="let u of users" value="{{u.id}}">{{u.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="extinguishersFormField">
    <input matInput placeholder="Close date" [formControl]="closeDate" type="date">
    <mat-error *ngIf="closeDate.hasError('required') && userId">
      CloseDate date is <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field> -->

  <mat-form-field class="orderFormField" *ngIf="state == 'CANCELADA'">
    <textarea matInput placeholder="Motivo de cancelación" [ngModel]="cancelNote" readonly="true"></textarea>
  </mat-form-field>

  <div class="div-button-actions">
    <button mat-raised-button class="button-actions" color="primary" (click)="save()" *ngIf="state == 'CREADA' || state == 'COMPLETANDOSE'">Guardar</button>
    <button mat-raised-button class="button-actions" color="warn" (click)="cancel()" *ngIf="state == 'CREADA' || state == 'COMPLETANDOSE'">Cancelar</button>
    <button mat-raised-button class="button-actions" color="primary" (click)="cancel()" *ngIf="state == 'CANCELADA' || state == 'CERRADA'">Ok</button>
  </div>
</div>