app-user-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%
}

.button-actions {
  float: right;
  margin-left: 3px;
}