<div class="filters">
  <input matInput placeholder="Nombre" [(ngModel)]="nameFilter">
  <input matInput placeholder="Teléfono" [(ngModel)]="phoneFilter">
  <input matInput placeholder="Email" [(ngModel)]="emailFilter">
  <button mat-raised-button (click)="filter()">Filtrar</button>
</div>

<div class="button-row">
  <button mat-fab color="warn" (click)="create()"><mat-icon>add</mat-icon></button>
</div>
  
<table mat-table [dataSource]="service.listData" class="mat-elevation-z8">

  <!-- Code Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Identificador </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Dirección </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Teléfono </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Web Column -->
  <ng-container matColumnDef="web">
    <th mat-header-cell *matHeaderCellDef> Web </th>
    <td mat-cell *matCellDef="let element"> {{element.web}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Tipo </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Edit -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Opciones </th>
    <td mat-cell *matCellDef="let element">
      <a (click)="edit(element)">
        <mat-icon aria-hidden="false" aria-label="adit">edit</mat-icon>
      </a>
      <a (click)="delete(element)">
        <mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="service.total"
              [pageSize]="service.pageSize"
              [pageSizeOptions]="pagination"
              (page)="service.page = $event.pageIndex">
</mat-paginator>