<div class="general-form">

  <!-- <mat-form-field class="extinguisherTypeFormField">
    <input matInput placeholder="Identificador" [formControl]="code">
    <mat-error *ngIf="code.hasError('required')">
      Código es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field> -->

  <mat-form-field class="extinguisherTypeFormField">
    <mat-select placeholder="Categoría" [(value)]="category" required>
      <mat-option *ngFor="let categ of categories" value="{{categ.key}}">{{categ.value}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="extinguisherTypeFormField">
    <input matInput placeholder="Vencimiento" [formControl]="loadExpiration" type="number" required>
    <mat-error *ngIf="loadExpiration.hasError('required')">
      El vencimiento es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="extinguisherTypeFormField">
    <input matInput placeholder="Venc. PH" [formControl]="phExpiration" type="number" required>
    <mat-error *ngIf="phExpiration.hasError('required')">
      El vencimiento de la PH es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="extinguisherTypeFormField">
    <input matInput placeholder="Peso" [formControl]="weight" type="number" required>
    <mat-error *ngIf="weight.hasError('required')">
      El peso es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="extinguisherTypeFormField">
    <input matInput placeholder="Volumen" [formControl]="volume" type="number" required>
    <mat-error *ngIf="volume.hasError('required')">
      El volumne es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
  
  <div class="div-button-actions">
    <button mat-raised-button class="button-actions" color="primary" (click)="save()">Guardar</button>
    <button mat-raised-button class="button-actions" color="warn" (click)="cancel()">Cancelar</button>
  </div>
</div>